@import '../../../../vendor/filament/filament/resources/css/theme.css';

@config './tailwind.config.js';

.fi-sidebar {
    background: white;
    border-right: 1px solid #E4E4E5;
}

.dark .fi-sidebar {
    background: #18181B;
    border-right: 1px solid #ff6d2c;
}

.dark .fi-topbar {
    border-bottom: 1px solid #ff6d2c;
}

.dark .fi-sidebar-nav {
    border-top: 1px solid #ff6d2c !important;
}
