.dark .fi-main { background: #09090b !important; }

.dark .fi-sidebar-nav {
    background: #131316;
    border-top: 1px solid #ff6d2c !important;
}

.dark .fi-topbar {
    border-bottom: 1px solid #ff6d2c;
}

.fi-logo {
    width: 110px !important;
    height: 42px !important;
    border: 1px solid #ff6d2c !important;
}

